.main-container-user {
    width: 100%;
    display: flex;
    /* height: 100vh; */
    padding-top: 77px;
    padding-bottom: 1.5rem;
    background-color: #f8f9fa; 
  }

  /* .role-top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
} */
  
  .User-container {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    background-color: #fff;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0.7rem 0.5rem 0.7rem 1rem; /* top: 0.7rem, right: 0.5rem, bottom: 0.7rem, left: 1rem */
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
  .user-form-upper-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102%;
    flex-wrap: wrap; /* allows responsiveness */
    gap: 1rem;
  }
  
  .user-form-lower-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1rem;
  }
  
  .boxes {
    width: 322px;
    position: relative;
    height: 50px;
  }

  @media screen and (max-width: 1372px) {
   .boxes {
    width: 310px;
  }
}

@media screen and (max-width: 1320px) {
   .boxes {
    width: 290px;
  }
}

@media screen and (max-width: 1250px) {
   .boxes {
    width: 275px;
  }
}
  
  .user-input {
    width: 100%;
    padding: 0.7rem 0.5rem 0.7rem 1.9rem; /* spacing for icon on left */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
  }
  
  .user-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }
  
  .boxes select {
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .boxes span {
    position: absolute;
    top: 21px;
    left: 8px;
    transform: translateY(-50%);
    color: #666;
    font-size: 1.2rem;
  }

  .error-message {
  color: #e74c3c; /* red tone */
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 4px;
  padding-left: 2px;
}

.user-input.error-border {
  border-color: #e74c3c;
  box-shadow: 0 0 4px rgba(231, 76, 60, 0.3);
}

.add-bulk{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgb(17, 128, 231);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
  
  .user-add {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #167204;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .user-add:hover {
    background-color: #1b4b15;
  }
  
  .user-reset {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #da3b13;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .user-reset:hover {
    background-color: #911303;
  }

  .user-container-part-2{
    max-width: 28%;
    padding: 0.5rem 1.9rem;
    margin-left: auto;
    margin-bottom: 0.5rem;
  }

  .user-search-button{
    width: 342px;
    height: 44px;
    position: relative;
    padding: 0 0.5rem;
  }

  .user-search-input{
    width: 100%;
    padding: 0.5rem 0.625rem;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
  }

  .user-search-input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }

  .doprzone-container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f8db9b;
  position: relative; /* <-- Add this */
}


  .top-right-button {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0.5rem 1rem;
  background-color: green;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
  
.dropzone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 40%;
  flex-direction: column;
  gap: 0.5rem;
}

.dropzone-area {
  height: 150px;
  width: 100%;
  /* max-width: 600px; */
  background-color: #faf1ea;
  border: 2px dashed #eb6e07;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 16px;
}

.dropzone-area.active {
  background-color: #e3f2fd;
}

.dropzone-text {
  font-size: 14px;
  color: #888;
  margin-top: 8px;
}

.dropzone-text-active {
  color: #4a90e2;
  font-weight: bold;
}

.dropzone-icon {
  font-size: 20px;
}

.closeDropDown{
  padding: 0.5rem 1rem;
  background-color: rgb(14, 140, 199);;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.uploaded-file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.validation-excel-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.file-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.validate-button{
  padding: 0.5rem 1rem;
  background-color: rgb(20, 199, 14);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.delete-button{
   padding: 0.5rem 1rem;
  background-color: rgb(240, 7, 7);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.duplicate-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.duplicate-table th, .duplicate-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.duplicate-excel-button{
  border: none;
  background: red;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  margin-top: 10px;
}

.submit-excel-data{
  border: none;
  background: rgb(2, 63, 2);
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  margin-top: 10px;
}
.delete-Modal-overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.delete-modal-content {
   background: white;
  padding: 50px 29px;
  height: 350px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.warning-image{
   width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.text-para {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
  color: rgb(71, 71, 71);
  font-weight: bold;
}

.delete-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yes-button,
.no-button {
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

.yes-button {
  background-color: #0c5702;
  color: white;
}

.yes-button:hover {
  background-color: #048a37;
}

.no-button {
  background-color: #f13709;
  color: #fdfcfc;
}

.no-button:hover {
  background-color: #660902;
} 