.cont{
   display: flex;
   align-items: center;
   justify-content: center;
}

.dashboard-component {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin-top: 90px;
    max-width: 1200px; 
    width: 100%;
  }


  