/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"); */

.login-container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #ff7700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes slideRightToLeft {
  0% {
    left: 100%;
    font-size: 1.2rem;
    /* color: red; */
  }
  25% {
    font-size: 1.6rem;
    /* color: rgb(255, 94, 0); */
  }
  50% {
    font-size: 2rem;
    /* color: orange; */
  }
  75% {
    font-size: 1.6rem;
    /* color: rgb(255, 94, 0); */
  }
  100% {
    left: -30%;
    font-size: 1.2rem;
    /* color: red; */
  }
}

.animated-text {
  position: absolute;
  top: 5px;
  left: 0;
  white-space: nowrap;
  /* font-family: "Roboto Slab", serif; */
  font-weight: bold;
  animation: slideRightToLeft 10s linear infinite;
  color: white;
}

.login-box {
  display: flex;
  width: 80%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-right {
  width: 50%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.login-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.login-logo {
  width: 52%;
  height: 29%;
  border: none;
}

.login-logo-image {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.login-right h2 {
  color: #333;
  /* font-family: "Roboto Slab", serif; */
  font-weight: 800;
  /* font-family: "Roboto Slab", serif; */
}

.login-right p {
  text-align: center;
  color: #666;
  /* font-family: "Roboto Slab", serif; */
  font-size: 1.1rem;
}

.login-button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 70%;
  background-color: #dddfdf;
  color: black;
  /* font-family: "Roboto Slab", serif; */
  box-shadow: 2px 2px 2px rgb(247, 223, 116);
}

.login-button:hover {
  background-color: #01121f;
  color: #fff;
}

@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    width: 100%;
    padding: 2rem;
  }
}
